[submodule "Phoenix/vendor/imgui"]
	path = Phoenix/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "Phoenix/vendor/glm"]
	path = Phoenix/vendor/glm
	url = https://github.com/g-truc/glm

#Directories
.vs/
bin/
bin-int/

#Files
Phoenix.sln
Phoenix/Phoenix.vcxproj
Phoenix/Phoenix.vcxproj.filters
Sandbox/Sandbox.vcxproj
Sandbox/Sandbox.vcxproj.user